Description: 1080 Skin for OpenViX
Depends: enigma2-plugin-skins-openvix-vixbmc-1080-common
Maintainer: rossi2000
Homepage: http://www.world-of-satellite.com/showthread.php?43113-ViXBMC_BELLO_1080-V2-skin-preview-by-Rossi2000
